<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star_airlines.mapper.BookMapper">
    <!--    订退票-->
    <!--    订票成功-->
    <insert id="boot_ticket">
        insert into record (id, user_id, flight_id, hotel_id,  days, price, type, update_time, use_point)
        VALUES (#{id}, #{userId}, #{flightId}, #{hotelId},  #{days}, #{price}, #{type},
                #{updateTime},#{usePoint})
    </insert>

    <!--    退票成功-->
    <update id="refund">
        update record
        set type=2,
            update_time=#{now}
        where id = #{id}
    </update>



</mapper>
