<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star_airlines.mapper.SearchMapper">
    <!--    查询操作-->
    <!--    航班-->
    <select id="search" resultType="com.star_airlines.pojo.Flights">
        select *
        from flights
        <where>
            <if test="arrival!=null">arrival = #{arrival}</if>
            <if test="depart!=null">and depart = #{depart}</if>
            <if test="date!=null">and depart_time >= #{date}</if>
            <if test="tomorrow!=null">and #{tomorrow} >depart_time</if>
            <if test="type!=null">and type = #{type}</if>
        </where>
    </select>
    <!--    酒店-->
    <select id="searchHotel" resultType="com.star_airlines.pojo.Hotel">
        select *
        from hotel
        where address = #{arrival}
    </select>
    <!--    租车-->
    <select id="searchCar" resultType="com.star_airlines.pojo.Car">
        select *
        from car
        where address = #{arrival}
    </select>
    <!--    记录-->
    <select id="searchRecord" resultType="com.star_airlines.pojo.Record">
        select *
        from record
        where flight_id = #{id}
          and user_id = #{userId}
    </select>
    <!--    机票金额-->
    <select id="getFlightPrice" resultType="java.lang.Integer">
        select price
        from record
        where id = #{id}
    </select>
    <!--    获取酒店价格-->
    <select id="getHotelPrice" resultType="java.lang.Integer">
        select price
        from hotel
        where id = #{hotelId}
    </select>
    <!--    获取租车价格-->
    <select id="getCarPrice" resultType="java.lang.Integer">
        select price
        from car
        where id = #{carId}
    </select>
    <!--    获取单条记录-->
    <select id="getRecord" resultType="com.star_airlines.pojo.Record">
        select *
        from record
        where id = #{id}
    </select>
</mapper>
